{% extends "base.html" %}
{% load i18n %}

{% block content %}

<!-- FB JSSDK initialization -->
<div id="fb-root"></div>
      <script>
        window.fbAsyncInit = function() {
          FB.init({
            appId      : '492413584121164',
            status     : true, 
            cookie     : true,
            xfbml      : true,
            oauth      : true,
            //channelUrl : '' //custom channel    
          });             
        };

        function login()
          {

             FB.login(function(response) {
               if (response.authResponse) {
                 console.log('Welcome!  Fetching your information.... ');
                 FB.api('/me', function(response) {
                   console.log('Good to see you, ' + response.name + '.');


                      $.ajax({
                        url:"/web/fblogin",
                        type:"POST",
                        data:{fbid:response.id,},
                        success:function(message){
                          if(message)
                          { 
                            window.location="/web/"  
                        }
                      }
                      });






                 });




                 
               } else {
                 console.log('User cancelled login or did not fully authorize.');
               }
             });

          }



        
        (function(d){
           var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
           js = d.createElement('script'); js.id = id; js.async = true;
           js.src = "//connect.facebook.net/en_US/all.js";
           d.getElementsByTagName('head')[0].appendChild(js);
         }(document));
                 
      </script>
<!-- FB JSSDK END-->

<button onclick="login()"> Facebook Login</button>

<form method="post" action=".">
{% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="{% trans 'Log in' %}" />
  <input type="hidden" name="next" value="{% url index %}" />
</form>

<p>{% trans "Forgot password" %}? <a href="{% url auth_password_reset %}">{% trans "Reset it" %}</a>!</p>
<p>{% trans "Not member" %}? <a href="{% url registration_register %}">{% trans "Register" %}</a>!</p>
{% endblock %}
